@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700)

html
  font-size: 50%

body
  font-family: $font
  font-size: 1.6em
  line-height: 1.5

h1
  font-size: 3em

  &.main_title
    margin: 0 auto 5rem
    color: $red
    font-size: 3em
    font-weight: bold
    text-align: center
    text-shadow: 3px 3px 0 #000

h2,
h3
  font-size: 2em
  color: $red

h1, h2, h3, h4, h5, h6,
ul, ol, dd,
p, figure,
pre, table, fieldset, hr
  margin-bottom: 1.5rem

hr
  margin: 0 0 1rem
  border-color: #ccc
  border-top: none
  border-right: none
  border-left: none

+min-width(700px)
  html
    font-size: 62.5%

  h1.main_title
    max-width: 500px
    margin-bottom: 7rem
    font-size: 5em
