@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700)

html
  font-size: 62.5%

body
  font-family: $font
  font-size: 1em
  line-height: 1.5

h2, h3
  font-size: 2em

h1, h2, h3, h4, h5, h6,
ul, ol, dd,
p, figure,
pre, table, fieldset, hr
  margin-bottom: 1.5rem

hr
  border-color: #ccc
  border-top: none
