.mod-landing.layout-wrap

  -# %h2 Help je kind

  -# %h2 Help ons

  %h2 Neem deel

  %p
    De Universiteit van Amsterdam doet,
    in samenwerking met academisch behandelcentrum voor ouder en kind UvA minds en Buro van Roosmalen,
    onderzoek naar verschillende behandelvormen voor kinderen en jongeren met ADHD.
    Medicatie wordt vergeleken met mindfulness training,
    een innovatieve behandeling waarin de aandacht en gedragscontrole van kinderen en jongeren getraind wordt door spelenderwijs meditatie oefeningen te doen.
    Ouders volgen hierbij de parallelle Mindful Parenting training.
    Voor dit onderzoek zijn we op zoek naar kinderen van 9 t/m 18 jaar met ADHD die behandeling zoeken,
    en hun ouders.

  %h2 Achtergrond en doel van dit onderzoek

  %p
    ADHD wordt gekenmerkt door problemen met concentratie,
    verhoogde afleidbaarheid,
    onrust,
    vergeetachtigheid,
    slordigheid,
    drukte in het hoofd,
    hyperactiviteit of impulsiviteit.
    Van medicatie weten we dat dit de symptomen van ADHD effectief bestrijdt.
    Medicatie is dan ook de meest voorgeschreven behandeling bij ADHD.
    Uit vele wereldwijde wetenschappelijke onderzoeken is bekend dat de symptomen van ADHD sterk afnemen bij zeker 70% van de kinderen na gebruik van medicatie.
    Er is tegenwoordig ook een andere,
    innovatieve behandeling beschikbaar,
    namelijk mindfulness training.
    Deze mindfulness training helpt kinderen en jongeren om op een kalme,
    onbevooroordeelde manier met hun aandachtsproblemen om te gaan en helpt de ouders om op een kalme,
    niet bevooroordeelde wijze met de gedragsproblemen van hun kinderen om te gaan en om een meer accepterende houding in hun opvoeding aan te leren nemen.
    Deze mindfulness training is gebaseerd op een combinatie van Westerse kennis over aandacht en Oosterse meditatietechnieken.
    Wetenschappelijk onderzoek laat zien dat mindfulness training bij kinderen en jongern met ADHD leidt tot vermindering van gedragsproblemen,
    impulsiviteit en een verbetering van aandacht en concentratie.
    Het doel van dit onderzoek is om de effectiviteit van mindfulness training te vergelijken met die van medicatie.
    Dit is nog niet eerder gedaan.
    Als blijkt dat ook mindfulness training een (kosten)effectieve behandelvorm voor ADHD is,
    dan is dit van groot belang om te weten en kan dit ouders in de toekomst een alternatief bieden zodat zij niet direct over te hoeven gaan op het geven van medicijnen aan hun kind.
