.layout-wrap
  .boy-700
    .mod-main_title
      %h1
        ADHD: Meditatie of Medicatie<span>?</span>

  .mod-content
    .boy-900
      %h2 Doel van dit onderzoek
      %p
        ADHD wordt gekenmerkt door problemen met concentratie, verhoogde afleidbaarheid, onrust, vergeetachtigheid, slordigheid, drukte in het hoofd, hyperactiviteit of impulsiviteit.
        Van medicatie weten we dat het de symptomen van ADHD effectief bestrijdt.
        Medicatie is dan ook de meest voorgeschreven behandeling bij ADHD.
        Er is tegenwoordig ook een andere innovatieve behandeling beschikbaar, namelijk MYmind, een op mindfulness gebaseerde aandachtstraining voor kinderen en jongeren met ADHD, en hun ouders.
        Beide behandelingen, dus zowel medicatie als MYmind, worden in dit onderzoek vergeleken.
        Dit is nog niet eerder gedaan.
        Als blijkt dat ook MYmind een effectieve behandelvorm voor ADHD is, dan zou dit een alternatief kunnen zijn voor medicatie.

    .boy-700
      %h2 MYmind
      %p
        MYmind is gebaseerd op een combinatie van Westerse kennis over aandacht en Oosterse meditatietechnieken.
        MYmind is een innovatieve behandeling waarin de aandacht en gedragscontrole van kinderen en jongeren getraind wordt door spelenderwijs meditatieoefeningen te doen.
        De ouders volgen parallel aan de training van de kinderen een Mindful Parenting training.
        De Mindful Parening training helpt ouders om op een kalme, niet reactieve wijze met de aandachts- en gedragsproblemen van hun kinderen om te gaan en helpt hen met eventuele eigen symptomen van ADHD.

    .boy-700
      %h2 Neem deel!
      %p
        De Universiteit van Amsterdam doet dit onderzoek in samenwerking met UvA minds (Amsterdam) en Buro van Roosmalen (Venlo en Roermond).
        Voor dit onderzoek zijn we op zoek naar kinderen en jongeren van 9 t/m 18 jaar met ADHD die behandeling zoeken.
        Zijn jullie als gezin nieuwsgierig geworden naar dit onderzoek?
        Mail of bel met één van de onderzoekers die onderaan de pagina staan.
