.layout-wrap.mod-content
  %h2 Het onderzoek
  %p
    We weten dat medicijnen goed helpen voor kinderen met ADHD.
    Ook weten we al dat mindfulness training goed helpt als jij je somber voelt
    of angstig bent en dat het je aandacht kan verbeteren.
    Bij kinderen met ADHD is mindfulness training nog iets nieuws
    en wij willen graag kijken wat jij van medicijnen en mindfulness training vindt en of het jou helpt.
    Wanneer je meedoet aan dit onderzoek krijg je of medicijnen voor ADHD of een mindfulness training.
    Je hoort vanzelf welk van de twee behandelingen jij zal krijgen.

  %h2 Wat is een mindfulness training?
  %p
    Bij de mindfulness training ga je mediteren,
    doe je yoga oefeningen en leer je bijvoorbeeld hoe jij je goed kan concentreren en om eerst na te denken voordat je iets doet.
    Om de meditaties te leren kom je 8 keer naar het behandelcentrum waar je met een paar andere kinderen samen gaat oefenen.
    Jouw ouders volgen ook een mindfulness training in een aparte groep met alle ouders.

  %h2 Wat is medicatie voor ADHD?
  %p
    Medicatie voor ADHD is een pilletje water voor zorgt dat je geen of minder last hebt van ADHD.
    Je komt met je ouder(s) naar het behandelcentrum,
    daar gaat een mevrouw of meneer kijken hoe gezond je bent.
    Daarna neem je voor 16 weken deze medicijnen en kom je nog 4 keer terug naar het behandelcentrum om te kijken of alles goed met je gaat.

  %h2 Wat vragen we van je?
  %p
    We vragen jou en je ouder(s) om een paar keer wat vragenlijsten in te vullen,
    en om een aantal aandachtstaakjes te doen.
    Die vragenlijsten kun je thuis op de computer invullen of bij ons op het behandelcentrum.
    De vragen gaan bijvoorbeeld over opletten,
    je druk voelen in je hoofd of in je lijf ,
    slapen en over of jij je weleens verdrietig,
    blij of boos voelt.
    De aandachtstaakjes gaan over aandacht en concentratie en die doe je bij ons op het behandelcentrum met één van de onderzoekers.
    Ook vragen wij jouw juf of meester om een paar vragenlijsten in te vullen.
    Alles bij elkaar vul je vier keer deze vragenlijsten in.
    Je ouder(s) weten precies wanneer dit zal zijn.

  %h2 Vrijwillig meedoen: wat is dat?
  %p
    Meedoen aan het onderzoek is helemaal vrijwillig.
    Dus als jij tijdens het onderzoek echt niet meer mee wil werken zal de onderzoeker het onderzoek voor jou stoppen.
    Als jij en je ouder(s) dat willen kan je de behandeling die je krijgt gewoon afmaken.

  .padding_for_the_boy
    %h2 Vertrouwelijkheid: wat is dat?
    %p
      De antwoorden die jij op de vragenlijsten geeft worden vertrouwelijk behandeld.
      Dit betekent dat jouw naam nergens op komt te staan,
      dus niemand kan zien dat jij ze hebt ingevuld.
      Volgens de wet moeten wij jouw vragenlijsten 15 jaar bewaren.

  .padding_for_the_boy
    %h2 Wat gebeurt er na het onderzoek?

    %p
      Wij laten jou en je ouder(s) weten hoe het verder gaat met dit onderzoek.
      Door de vragenlijsten in te vullen en ons te vertellen wat je van de medicijnen
      of de mindfulness training vindt help je ons om de training steeds beter te maken.
