.layout-wrap.mod-content
  %h2 Het onderzoek
  %p
    We weten dat medicijnen goed helpen voor kinderen en jongeren met ADHD.
    MYmind is een op mindfulness gebaseerde aandachtstraining voor kinderen en jongeren met ADHD, en hun ouders, die, zo blijkt uit ons onderzoek, ook effectief is.
    Wij onderzoeken wat voor wie beter helpt: medicijnen of MYmind.

  .boy-700
    %h2 Wat is MYmind?
    %p
      Je leert mediteren, doe je yoga oefeningen en leer je bijvoorbeeld hoe jij je goed kan concentreren en om eerst na te denken voordat je iets zegt of doet.
      Om de meditaties te leren kom je 8 keer naar het behandelcentrum waar je met een paar andere kinderen of jongeren samen gaat oefenen.
      Jouw ouders volgen een mindful parenting training in een aparte groep met alle ouders.

    %h2 Wat is medicatie voor ADHD?
    %p
      Medicatie voor ADHD zorgt ervoor dat je geen of minder last hebt van ADHD.
      Je komt met je ouder(s) naar het behandelcentrum, daar onderzoekt een arts je gezondheid.
      Daarna neem je voor 16 weken deze medicijnen en kom je nog 4 keer terug naar het behandelcentrum om te kijken of alles goed met je gaat.

    %h2 Wil je meer weten?
    %p
      Deelname aan dit onderzoek is helaas niet meer mogelijk.
      Heb je vragen over het onderzoek dan kan je contact opnemen met
      = link_to 'Renée Meppelink', '/contact.html'
      \.
      Mocht je interesse hebben in mindfulness training,
      dan kun je contact opnemen met
      = link_to 'UvA minds', 'http://www.uvaminds.nl'
      of
      = link_to 'Max Ernst', 'https://www.max-ernst.nl/'
      \.
