.layout-wrap.mod-content
  %h2 Het onderzoek
  %p
    We weten dat medicijnen goed helpen voor kinderen en jongeren met ADHD.
    MYmind is een op mindfulness gebaseerde aandachtstraining voor kinderen en jongeren met ADHD, en hun ouders, die, zo blijkt uit ons onderzoek, ook effectief is.
    Wij willen graag onderzoeken wat voor wie beter helpt: medicijnen of MYmind.
    Wanneer je meedoet aan dit onderzoek wordt geloot of je medicijnen voor ADHD of MYmind krijgt.

  %h2 Wat is MYmind?
  %p
    Je leert mediteren, doe je yoga oefeningen en leer je bijvoorbeeld hoe jij je goed kan concentreren en om eerst na te denken voordat je iets zegt of doet.
    Om de meditaties te leren kom je 8 keer naar het behandelcentrum waar je met een paar andere kinderen of jongeren samen gaat oefenen.
    Jouw ouders volgen een mindful parenting training in een aparte groep met alle ouders.

  .boy-700
    %h2 Wat is medicatie voor ADHD?
    %p
      Medicatie voor ADHD zorgt ervoor dat je geen of minder last hebt van ADHD.
      Je komt met je ouder(s) naar het behandelcentrum, daar onderzoekt een arts je gezondheid.
      Daarna neem je voor 16 weken deze medicijnen en kom je nog 4 keer terug naar het behandelcentrum om te kijken of alles goed met je gaat.

    %h2 Wat vragen we van je?
    %p
      We vragen jou en je ouder(s) om vier keer een aantal vragenlijsten in te vullen, en om een aantal aandachtstaakjes te doen.
      De vragenlijsten kun je thuis op de computer invullen of bij ons op het behandelcentrum.
      De vragen gaan bijvoorbeeld over aandacht, hyperactiviteit, impulsiviteit, gezinsfunctioneren, slapen en emoties.
      De aandachtstaakjes gaan over aandacht en concentratie en die doe je bij ons op het behandelcentrum met één van de onderzoekers.
      Ook vragen wij jouw leraar of mentor om een paar vragenlijsten in te vullen.

    %h2 Wil je meer weten of meedoen?
    %p
      Als je meer wilt weten over dit onderzoek kun je hier de
      = link_to 'informatiefolder openen.', 'wervingsfolder.pdf'
      Heb je interesse om mee te doen? Mail of bel dan met één van de onderzoekers die onderaan de pagina staan.
