.layout-wrap.mod-content
  %h2 Het wetenschappelijk onderzoek
  %p
    Uit vele nationale en internationale onderzoeken is bekend dat medicatie zeer effectief is in de bestrijding van symptomen van ADHD.
    Medicatie is dan ook de meest voorgeschreven behandelvorm bij ADHD.
    De laatste jaren is een andere behandelvorm sterk in opkomst,
    mindfulness training.
    Uit eerder onderzoek blijkt dat mindfulness training een effectieve methode is voor de behandeling van onder andere depressie en angst.
    Bij kinderen en jongeren met ADHD is mindfulness training nog een innovatieve behandeling
    en moet de effectiviteit verder worden onderzocht.
    Eerste resultaten zijn echter zeer hoopgevend.
    Het doel van dit onderzoek is om de (kosten)effectiviteit van medicatie te vergelijken met die van mindfulness training in de behandeling van kinderen met ADHD.
    We willen nagaan wat de effecten van medicatie versus mindfulness training zijn op bijvoorbeeld het hyperactieve,
    drukke of onrustige gedrag van uw leerling.
    Of op de stress beleving van u zelf of uw leerling,
    of op de interactie tussen u en uw leerling.
    Om op dit soort vragen een zo helder mogelijk antwoord te krijgen wordt in dit onderzoek gewerkt met een zogenaamde multi-informant methode.
    Dit betekent dat niet alleen de ouder(s) vragenlijsten invullen,
    maar ook uw leerling en uzelf,
    de leerkracht/mentor,
    vullen vragenlijsten in.

  %h2 Wat wordt er van u verwacht?
  %p
    De leerkracht of mentor van de leerling,
    vragen wij om een aantal vragenlijsten in te vullen.
    Deze meetmomenten vinden tweemaal plaats,
    eenmaal voor aanvang van de behandeling
    en eenmaal na beëindiging van de behandeling.
    Dat betekent dat uw leerling bij het eerste meetmoment nog niet is toegewezen aan één van de twee onderzoeksgroepen.
    De vragenlijsten zijn bij beide metingen hetzelfde,
    zodat wij de verschillen tussen de meetmomenten kunnen vaststellen.
    In totaal zal het invullen van de vragenlijsten niet meer dan 15 minuten in beslag nemen.
    Op de volgende pagina vindt u een overzicht
    van de twee verschillende behandelingen en de meetmomenten.

  .padding_for_the_boy
    %h2  Vertrouwelijkheid gegevens
    %p
      Alle gegevens die voor het onderzoek worden verzameld,
      worden strikt vertrouwelijk behandeld.
      Alle persoonsgegevens uit het onderzoek worden vervangen door een codenummer.
      Alleen dat nummer wordt gebruikt in rapporten of publicaties over dit onderzoek.
      Alleen de onderzoekers hebben de sleutel tot deze code
      en weten wie de persoon achter het codenummer is.
      Wij zijn verplicht uw onderzoeksgegevens 15 jaar te bewaren.
      Daarvoor geeft u toestemming als u meedoet aan dit onderzoek.
      Als u dat niet wilt, kunt u niet meedoen aan dit onderzoek.
      Ter controle van de uitvoering van dit onderzoek hebben vertegenwoordigers van de Inspectie voor de Gezondheidszorg en
      vertegenwoordigers van de Universiteit van Amsterdam
      als opdrachtgever van dit onderzoek toegang tot vertrouwelijke gegevens.
