.layout-wrap.mod-content
  .boy-900
    %h2 Het wetenschappelijk onderzoek
    %p
      Uit vele nationale en internationale onderzoeken is bekend dat medicatie zeer effectief is in de bestrijding van symptomen van ADHD.
      Medicatie is dan ook de meest voorgeschreven behandelvorm bij ADHD.
      De laatste jaren is een andere behandelvorm sterk in opkomst,
      mindfulness training.
      Uit eerder onderzoek blijkt dat mindfulness training een effectieve methode is voor de behandeling van onder andere depressie en angst.
      Bij kinderen en jongeren met ADHD is mindfulness training nog een innovatieve behandeling en moet de effectiviteit verder worden onderzocht.
      Eerste resultaten zijn echter zeer hoopgevend.
      Het doel van dit onderzoek is om de effectiviteit van medicatie te vergelijken met die van een mindfulness training in de behandeling van kinderen met ADHD.

  .boy-700
    %h2 Wat wordt er van u verwacht?
    %p
      Om de effectiviteit van beide behandelingen goed met elkaar te kunnen vergelijken wordt in dit onderzoek gewerkt met een zogenaamde multi-informant methode.
      Dat wil zeggen dat niet alleen het kind en de ouders vragenlijsten invullen maar ook een informant die het kind goed kent,
      maar niet deelneemt aan het onderzoek.
      Omdat het kind een groot deel van de dag op school is,
      is ervoor gekozen om de leerkracht of mentor als derde informant te betrekken bij het onderzoek.
      De leerkracht of mentor vult op twee meetmomenten twee vragenlijsten in,
      namelijk eenmaal voor aanvang van de behandeling en eenmaal na beëindiging van de behandeling.
      In totaal zal het invullen van de vragenlijsten niet meer dan 15 minuten in beslag nemen.

    %h2  Vragen?
    %p
      Mocht u vragen hebben over het onderzoek of wilt u weten of dit onderzoek wellicht passend is voor één van uw leerlingen?
      Dan kunt u bellen of mailen met één van de onderzoekers die onderaan de pagina staan.
