.layout-wrap.mod-content
  %h2 Background
  %p
    Attention-Deficit-Hyperactivity-Disorder (ADHD) is one of the most common childhood disorders,
    with a prevalence of 3–7% in the general population.
    Children with ADHD display inattentive,
    impulsive and hyperactive behaviour.
    Medical costs of school-aged children diagnosed with ADHD are around €2040 per patient per year compared to €177 for children from the general population.
    Further,
    the average incremental annual cost to educate a child with ADHD is approximately €4900 over that of regular education,
    as compared with €265 for a control child. Medication is often the treatment of choice, as it currently is most effective.
    However,
    medication takes only short-term effects,
    treatment adherence is often low and most importantly;
    medication has serious side effects.
    Therefore,
    there is a need for other psychological interventions for youngsters with ADHD.
    Mindfulness Training is emerging as a potentially effective training for children with ADHD,
    and is based on Eastern meditation techniques.

  %h2 Research aims
  %p
    The first aim of this study is to compare the effectiveness of Mindfulness Training to the effectiveness of methylphenidate (Ritalin) in a randomized trial in children and adolescents with ADHD on measures of attention,
    hyperactivity/impulsivity.
    The second aim is to compare the cost-effectiveness of Mindfulness Training as compared to MPH in youngsters with ADHD,
    both from a societal perspective and from a (mental) health care perspective.

  .padding_for_the_boy
    %h2 Study design
    %p
      A multicentre randomized trial with follow-up measurements will be used to measure the effects of Mindfulness Training versus the effects of MPH.
      After enrolment in the study a pre-test,
      post-test and two follow-up measurements will be completed.
      The last follow-up takes place 40 weeks after enrolment.

  .padding_for_the_boy
    %h2 Study population
    %p
      Participants will be children and adolescents of both sexes diagnosed with ADHD,
      referred to treatment centres (UvA minds or Buro van Roosmalen).
      Participants will be between 9 and 18 years old.
      In total 150 participants will be included.
      For children in the Mindfulness Training arm,
      at least one parent has to be able to attend the parent sessions.

  .padding_for_the_boy
    %h2 The interventions
    %p
      The Mindfulness Training will be conducted in groups of 4 to 6 participants (children) or 6 to 8 participants (adolescents),
      and consists of 8 weekly 1.5 hour sessions.
      Parents will follow a parallel mindful parenting training (1.5 hours/week).
      Eight weeks after the last session,
      participants will follow a joined booster session.
      Short-acting methylphenidate will be administered individually and monitored by a child psychiatrist,
      following the guidelines of “Multidisciplinaire richtlijn ADHD”.
      The initial methylphenidate intervention lasts 8 weeks until the post-test and then continues for 8 weeks until the first follow-up.
      When methylphenidate is not effective or severe side effects emerge,
      change in dose or medication type will be made.
