.layout-wrap
  %h2 Het wetenschappelijk onderzoek
  %p
    Uit vele nationale en internationale onderzoeken is bekend dat medicatie zeer effectief is in de bestrijding van symptomen van ADHD.
    Medicatie is dan ook de meest voorgeschreven behandelvorm bij ADHD.
    De laatste jaren is een andere behandelvorm sterk in opkomst,
    mindfulness training.
    Uit eerder onderzoek blijkt dat mindfulness training een effectieve methode is voor de behandeling van onder andere depressie en angst.
    Bij kinderen en jongeren met ADHD is mindfulness training nog een innovatieve behandeling en moet de effectiviteit verder worden onderzocht.
    Eerste resultaten zijn echter zeer hoopgevend.
    Het doel van dit onderzoek is om de (kosten)effectiviteit van medicatie te vergelijken met die van mindfulness training in de behandeling van kinderen met ADHD.
    We willen nagaan wat de effecten van medicatie versus mindfulness training zijn op bijvoorbeeld het hyperactieve,
    drukke of onrustige gedrag van uw kind? Of op de stress beleving van u zelf of uw kind,
    of op de interactie tussen u en uw kind? Om op dit soort vragen een zo helder mogelijk antwoord te krijgen wordt in dit onderzoek gewerkt met een zogenaamde multi-informant methode.
    Dit betekent dat niet alleen u als ouder(s) vragenlijsten invult,
    maar ook uw kind zelf,
    de leerkracht/mentor van uw kind en dat er een paar onafhankelijke aandachtstaakjes worden afgenomen (zie meer hieronder).
    Om de effectiviteit van beide behandelingen goed met elkaar te kunnen vergelijken wordt uw kind zogenaamd random toegewezen aan één van beide behandelingen.
    Wanneer u en uw kind besluiten deel te nemen aan dit onderzoek,
    weet u dus nog niet welke behandeling uw kind zal krijgen,
    dit krijgt u vanzelf van de onderzoeker te horen.
