---
title: "Childhood ADHD: Meditation or Medication?"
---

.layout-wrap.mod-content

  %h2 Background
  %p
    Attention-Deficit-Hyperactivity-Disorder (ADHD) is one of the most common childhood disorders, with a prevalence of 3–7% in the general population.
    Children with ADHD display inattentive, impulsive and hyperactive behavior.
    Medical costs of school-aged children diagnosed with ADHD are around €2040 per patient per year compared to €177 for children from the general population.
    Further, the average incremental annual cost to educate a child with ADHD is approximately €4900 over that of regular education, as compared with €265 for a control child.
    Medication is often the treatment of choice, as it currently is found to be most effective.
    However, medication takes only short-term effects, treatment adherence is often low and most importantly; medication has serious side effects.
    Therefore, there is a need for effective psychological interventions for youngsters with ADHD.
    Mindfulness Training is emerging as a potentially effective training for children with ADHD, and is based on Eastern meditation techniques.
    In response to this the MYmind training has been developed, a mindfulness based attention training for children and adolescents with ADHD and their parents.

  %h2 Research aims
  %p
    The first aim of this study is to compare the effectiveness of MYmind to the effectiveness of methylphenidate (Ritalin) in a randomized trial in children and adolescents with ADHD on measures of attention,
    hyperactivity/impulsivity.
    The second aim is to compare the cost-effectiveness of MYmind as compared to methylphenidate in youngsters with ADHD, both from a societal perspective and from a (mental) health care perspective.

  %h2 Study design
  %p
    A multi-center randomized trial with follow-up measurements will be used to measure the effects of MYmind versus the effects of methylphenidate.
    After enrolment in the study a pre-test, post-test and two follow-up measurements will be completed.
    The last follow-up takes place 40 weeks after enrollment.

  = image_tag 'research-design.png', alt: 'Research design', class: 'comp-research-design'

  .boy-700
    %p
      This study is approved by the Dutch Ethics Committee (METC 2013-383) and registered under the NTR number: NTR4206


  .boy-700
    %h2 Study population
    %p
      Participants will be children and adolescents of both sexes diagnosed with ADHD, referred to treatment centers (UvA minds or Max Ernst GGZ).
      Participants will be between 9 and 18 years old. In total 150 participants will be included.
      For children in the MYmind arm, at least one parent has to be able to attend the parent sessions.

  .boy-700
    %h2 The interventions
    %p
      The MYmind will be conducted in groups of 4 to 6 participants (children) or 6 to 8 participants (adolescents), and consists of 8 weekly 1.5 hour sessions.
      Parents will follow a parallel mindful parenting training (1.5 hours/week).
      Eight weeks after the last session, participants will follow a joined booster session.
      Short-acting methylphenidate will be administered individually and monitored by a child psychiatrist, following multidisciplinary guidelines for ADHD.
      The initial methylphenidate intervention lasts 8 weeks until the post-test and then continues for 8 weeks until the first follow-up.
      When methylphenidate is not effective or severe side effects emerge, change in dose or medication type will be made.


  .boy-700
    %h2 Publications
    %ul
      %li
        = link_to '/images/Meppelink - Mindfulness training versus medication in the treatment of childhood ADHD.pdf', target: :_blank do
          Meditation or Medication? A Randomized Control Trial
      %li
        = link_to '/images/Meppelink - Mindfulness training for Childhood ADHD.pdf', target: :_blank do
          Mindfulness training training for Childhood ADHD
      %li
        = link_to '/images/Meppelink - Mindful Parenting Training in Child Psychiatric Settings.pdf', target: :_blank do
          Mindful Parenting Training in Child Psychiatric Settings
