.layout-wrap.mod-content
  %h2 Het wetenschappelijk onderzoek
  %p
    Uit vele nationale en internationale onderzoeken is bekend dat medicatie zeer effectief is in de bestrijding van symptomen van ADHD.
    Medicatie is dan ook de meest voorgeschreven behandelvorm bij ADHD.
    De laatste jaren is een andere behandelvorm sterk in opkomst,
    mindfulness training.
    Uit eerder onderzoek blijkt dat mindfulness training een effectieve methode is voor de behandeling van onder andere depressie en angst.
    Bij kinderen en jongeren met ADHD is mindfulness training nog een innovatieve behandeling en moet de effectiviteit verder worden onderzocht.
    Eerste resultaten zijn echter zeer hoopgevend.
    Het doel van dit onderzoek is om de (kosten)effectiviteit van medicatie te vergelijken met die van mindfulness training in de behandeling van kinderen met ADHD.
    We willen nagaan wat de effecten van medicatie versus mindfulness training zijn op bijvoorbeeld het hyperactieve,
    drukke of onrustige gedrag van uw kind? Of op de stress beleving van u zelf of uw kind,
    of op de interactie tussen u en uw kind? Om op dit soort vragen een zo helder mogelijk antwoord te krijgen wordt in dit onderzoek gewerkt met een zogenaamde multi-informant methode.
    Dit betekent dat niet alleen u als ouder(s) vragenlijsten invult,
    maar ook uw kind zelf,
    de leerkracht/mentor van uw kind en dat er een paar onafhankelijke aandachtstaakjes worden afgenomen (zie meer hieronder).
    Om de effectiviteit van beide behandelingen goed met elkaar te kunnen vergelijken wordt uw kind zogenaamd random toegewezen aan één van beide behandelingen.
    Wanneer u en uw kind besluiten deel te nemen aan dit onderzoek,
    weet u dus nog niet welke behandeling uw kind zal krijgen,
    dit krijgt u vanzelf van de onderzoeker te horen.

  %h2 Wat houdt de mindfulness training voor u en voor uw kind in?
  %p
    Mindfulness training is een innovatieve behandeling voor kinderen en jongeren met ADHD.
    Deze mindfulness training is gebaseerd op een combinatie van Westerse kennis over aandacht en Oosterse meditatietechnieken.
    Wetenschappelijk onderzoek laat zien dat mindfulness training bij kinderen en jongeren met ADHD leidt tot vermindering van gedragsproblemen,
    impulsiviteit en een verbetering van aandacht en concentratie.
    Een mindfulness training werkt dus in op dezelfde domeinen als medicatie,
    en is daarom misschien wel net zo effectief.
    Indien uw kind wordt toegewezen aan de mindfulness behandeling volgt u parallel aan de mindfulness training van uw kind zelf ook een zogenaamde Mindful Parenting training,
    gericht op mindful opvoeden.
    U komt samen met uw kind acht keer naar het behandelcentrum,
    waar u en uw kind apart van elkaar in sessies van anderhalf uur oefenen met mediteren.
    Er is dus een kindergroep en een oudergroep,
    waarbij er tevens ruimte is om ervaringen met de groep te delen en vragen te stellen aan de trainer.
    De trainer geeft tussen de meditaties en yoga oefeningen door uitleg over mindfulness bij ADHD.
    De mindfulness training helpt kinderen en jongeren om op een kalme,
    onbevooroordeelde manier met hun aandachtsproblemen om te gaan en helpt de ouders om op een kalme,
    niet bevooroordeelde wijze met de gedragsproblemen van hun kinderen om te gaan en om een meer accepterende houding in hun opvoeding aan te leren nemen.

  %h2 Wat houdt de medicatiebehandeling voor u en uw kind in?
  %p
    Indien uw kind wordt toegewezen aan de medicatiebehandeling,
    betekent dit dat u en uw kind een consult krijgen bij de kinder- en jeugdpsychiater.
    Deze psychiater zal uitleg geven over de werking van de medicatie en de lichamelijke en psychische gezondheid van uw kind beoordelen.
    Indien de psychiater een positief advies geeft,
    wordt het recept met de aangewezen dosis voor kortwerkend methylfenidaat uitgeschreven.
    U kunt dan zelf de medicatie bij uw apotheek ophalen.
    Uw kind zal daarna 16 weken deze medicatie nemen onder monitoring van de psychiater,
    ook zullen u en uw kind nog vier keer naar het behandelcentrum moeten komen voor controle.
    Dit zijn tevens de momenten waarop u de lege doosjes van de reeds gebruikte medicatie mee moet nemen om aan de psychiater te geven voor registratie.

  %h2 Wat wordt er van u verwacht?
  %p
    Om de effecten van de medicatie en de mindfulness training op korte en lange termijn te bepalen,
    vragen wij de deelnemers om op vier verschillende momenten online een aantal vragenlijsten in te vullen over aandacht- en concentratieproblemen,
    gedrag,
    opvoeding en eventuele andere klachten (bijvoorbeeld stressbeleving,
    slaapgedrag,
    kwaliteit van leven).
    Elke meting voor u duurt ongeveer 45 minuten.
    Bij de kinderen en jongeren worden er bij de eerste twee meetmomenten,
    naast de vragenlijsten,
    ook een aantal  aandachtstaakjes afgenomen door de onderzoeker.
    Voor deze aandachtstaakjes wordt u gevraagd naar ons behandelcentrum te komen.
    Deze bezoeken duren in totaal ongeveer 60 minuten voor uw kind (inclusief de vragenlijsten).
    De laatste twee meetmomenten vragen wij uw kind alleen de online vragenlijsten in te vullen,
    hetgeen vanuit huis kan (ongeveer 30 minuten).
    Ook vragen wij de mentor of leerkracht van uw kind om een tweetal vragenlijsten in te vullen,
    gericht op aandachtsfuncties (duur ongeveer 15 minuten).
    Het 1e meetmoment (= voormeting) vindt plaats voordat u weet in welke behandelgroep u terecht komt.
    Het 2e meetmoment (= nameting) vindt plaats direct na de 8-weekse mindfulness training.
    Er volgen dan nog twee follow-up metingen; deze zijn bedoeld om de lange termijn effecten van de medicatie met die van de mindfulness training te kunnen vergelijken (follow-up [FU] momenten 1 en 2).
    Tussen de nameting en 1e follow-up meting (FU-1) vindt geen training plaats in de mindfulness groep,
    alleen een boostersessie en verder oefenen u en uw kind zelf thuis.
    Als u in de medicatiegroep geloot bent zal behandeling met medicatie wel doorgaan.
    Na de FU-1 meting bent u vrij om van behandeling te wisselen of te stoppen.
    De 2e follow-up meting (FU-2) vindt na zes maanden plaats.
    Op de volgende pagina vindt u een overzicht van de twee verschillende behandelingen en de meetmomenten.

  %h2 Vrijwillige deelname
  %p
    Deelname aan dit wetenschappelijk onderzoek is geheel vrijwillig.
    Als u besluit niet mee te willen werken aan dit onderzoek,
    heeft dit geen verdere gevolgen voor de behandeling van uw kind.
    U bespreekt dan met uw behandelaar wat de meest geïndiceerde behandeling is voor uw kind.
    Op elk moment kan,
    zonder opgaaf van reden en zonder dat dit op enige wijze gevolgen heeft,
    gestopt worden met het onderzoek.
    Als tijdens het onderzoek blijkt dat uw kind niet mee wil werken zal de onderzoeker het onderzoek direct stoppen.

  %h2 Vertrouwelijkheid gegevens
  %p
    Alle gegevens die voor het onderzoek worden verzameld,
    worden strikt vertrouwelijk behandeld.
    Alle persoonsgegevens uit het onderzoek worden vervangen door een codenummer.
    Alleen dat nummer wordt gebruikt in rapporten of publicaties over dit onderzoek.
    Alleen de onderzoekers hebben de sleutel tot deze code en weten wie de persoon achter het codenummer is.
    Wij zijn verplicht uw onderzoeksgegevens 15 jaar te bewaren.
    Daarvoor geeft u toestemming als u meedoet aan dit onderzoek.
    Als u dat niet wilt,
    kunt u niet meedoen aan dit onderzoek.
    Ter controle van de uitvoering van dit onderzoek hebben vertegenwoordigers van de Inspectie voor de Gezondheidszorg
    en vertegenwoordigers van de Universiteit van Amsterdam als opdrachtgever van dit onderzoek toegang tot vertrouwelijke gegevens.

  %h2 Uitkomsten van het wetenschappelijk onderzoek
  %p
    Met de individuele resultaten van deze vragenlijstmetingen kunnen wij u feedback geven over de effecten
    van de medicatie of de mindfulness training voor u en uw kind persoonlijk.
    U ontvangt hierover een persoonlijke terugkoppeling tijdens de terugkombijeenkomst.
    Ook draagt u bij aan de verbetering van de training voor toekomstige deelnemers.
    U wordt bovendien uitgebreid geïnformeerd over de wetenschappelijke resultaten van het onderzoek.

  .padding_for_the_boy
    %h2 Vragen
    %p
      Mocht u vragen hebben over het wetenschappelijk onderzoek,
      dan kunt u mailen met ondergetekende(n).
      Mocht u vragen over het onderzoek hebben die u liever niet aan de onderzoekers zelf wilt stellen,
      dan kunt u contact opnemen met drs. S. Lucassen, tel. 020-5251441.

      %br

      Zij is niet bij de uitvoering van het onderzoek betrokken.
      Wilt u graag advies van een onafhankelijk expert over deelname aan dit onderzoek,
      dan kunt u terecht bij drs. M. Kuin, 020-5251441.
