.layout-wrap.mod-content
  %h2 Het wetenschappelijk onderzoek
  %p
    Uit vele nationale en internationale onderzoeken is bekend dat medicatie zeer effectief is in de bestrijding van symptomen van ADHD.
    Medicatie is dan ook de meest voorgeschreven behandelvorm bij ADHD.
    De laatste jaren is een andere behandelvorm sterk in opkomst,
    mindfulness training.
    Uit eerder onderzoek blijkt dat mindfulness training een effectieve methode is voor de behandeling van onder andere depressie en angst.
    Bij kinderen en jongeren met ADHD is mindfulness training nog een innovatieve behandeling en moet de effectiviteit verder worden onderzocht.
    Eerste resultaten zijn echter zeer hoopgevend.
    Het doel van dit onderzoek is om de effectiviteit van medicatie te vergelijken met die van een mindfulness training in de behandeling van kinderen met ADHD.

  %h2 Wat houdt de mindfulness training in?
  %p
    Indien uw kind wordt toegewezen aan de mindfulness behandeling volgt u parallel aan de mindfulness training van uw kind zelf ook een zogenaamde Mindful Parenting training,
    gericht op mindful opvoeden.
    U komt samen met uw kind acht keer naar het behandelcentrum,
    waar u en uw kind apart van elkaar in sessies van anderhalf uur oefenen met mediteren.
    Er is dus een kindergroep en een oudergroep,
    waarbij er tevens ruimte is om ervaringen met de groep te delen en vragen te stellen aan de trainer.
    De trainer geeft tussen de meditaties en yoga oefeningen door uitleg over mindfulness bij ADHD.

  %h2 Wat houdt de medicatiebehandeling in?
  %p
    Indien uw kind wordt toegewezen aan de medicatiebehandeling,
    betekent dit dat u en uw kind een consult krijgen bij de kinder- en jeugdpsychiater.
    Deze psychiater zal uitleg geven over de werking van de medicatie en de lichamelijke en psychische gezondheid van uw kind beoordelen.
    Indien de psychiater een positief advies geeft,
    wordt het recept met de aangewezen dosis voor kortwerkend methylfenidaat uitgeschreven.
    Vaak wordt dit medicijn verkocht onder de naam Ritalin.
    Uw kind zal daarna 16 weken deze medicatie nemen onder begeleiding van de psychiater,
    ook zullen u en uw kind nog vier keer naar het behandelcentrum moeten komen voor controle.

  %h2 Wat wordt er van u verwacht?
  %p
    Om de effecten van de medicatie en de mindfulness training op korte en lange termijn te bepalen,
    vragen wij de deelnemers om op vier verschillende momenten online een aantal vragenlijsten in te vullen.
    De vragenlijsten gaan over aandacht- en concentratieproblemen,
    gedrag,
    opvoeding en eventuele andere klachten.
    Er is een voormeting, een nameting en twee follow-up metingen.
    Na de eerste follow-up meting bent u vrij om van behandeling te wisselen of te stoppen met de huidige behandeling.
    Bij de voormeting en de nameting vragen wij de mentor of leerkracht van uw kind ook om twee vragenlijsten in te vullen.
    Voor een overzicht van de meetmomenten en de behandeling kunt u kijken in onderstaand plaatje.

  = image_tag 'onderzoeksdesign.png', alt: 'Onderzoeksdesign', class: 'comp-research-design'

  .boy-700
    %p
      Deze studie is goedgekeurd door de Medisch Etische Toetsingscommissie van het AMC (METC 2013-383) en staat geregistreerd onder het NTR nummer: NTR4206.

  .boy-700
    %h2 Uitkomsten van het onderzoek
    %p
      Met de individuele resultaten van deze vragenlijstmetingen kunnen wij u feedback geven over de effecten van de medicatie of de mindfulness training voor u en uw kind persoonlijk.
      U ontvangt hierover een persoonlijke terugkoppeling tijdens de terugkombijeenkomst.
      Ook draagt u bij aan de verbetering van de training voor toekomstige deelnemers.
      U wordt bovendien uitgebreid geïnformeerd over de wetenschappelijke resultaten van het onderzoek.

    %h2 Vragen of deelnemen?
    %p
      Mocht u vragen hebben over het onderzoek of wilt u met uw kind deelnemen?
      Dan kunt u bellen of mailen met één van de onderzoekers die onderaan de pagina staan.
      Voor meer informatie over het onderzoek kunt u ook de uitgebreide informatiefolder bekijken.
