.layout-wrap.mod-content
  %h2 Het wetenschappelijk onderzoek
  %p
    Uit vele nationale en internationale onderzoeken is bekend dat medicatie (methylfenidaat) zeer effectief is in de bestrijding van symptomen van ADHD.
    Medicatie is dan ook de meest voorgeschreven behandelvorm bij ADHD. De laatste jaren is een andere behandelvorm sterk in opkomst, mindfulness training.
    Uit eerder onderzoek blijkt dat mindfulness training een effectieve methode is voor depressie en angst.
    Bij kinderen en jongeren met ADHD is mindfulness training nog een innovatieve behandeling en moet de effectiviteit verder worden onderzocht.
    Eerste resultaten van het door ons ontwikkelde programma MYmind,
    een op mindfulness gebaseerde aandachtstraining voor kinderen met ADHD in combinatie met parallelle mindful parenting training van hun ouders, zijn echter zeer hoopgevend.
    Het doel van dit onderzoek is om de effectiviteit van medicatie te vergelijken met die van MYmind in de behandeling van kinderen met ADHD.
    Om de effectiviteit van beide behandelingen goed met elkaar te kunnen vergelijken wordt uw kind geloot voor één van beide behandelingen.
    Wanneer u en uw kind besluiten deel te nemen aan dit onderzoek, weet u dus nog niet welke behandeling uw kind zal krijgen, dit krijgt u vanzelf van de onderzoeker te horen.
    Zestien weken na de start van de toegewezen behandeling mogen u en uw kind, indien gewenst, alsnog voor de andere behandeling kiezen.

  %h2 Wat houdt MYmind in?
  %p
    Indien uw kind wordt toegewezen aan MYmind volgt u parallel aan de training van uw kind zelf een mindfulness training, gericht op mindful opvoeden.
    U komt samen met uw kind acht keer naar het behandelcentrum, waar u en uw kind apart van elkaar in sessies van anderhalf uur oefenen met mediteren.
    Er is dus een kindergroep en een oudergroep, en een paar keer komen de kinder- en oudergroep samen.
    De trainer geeft tussen de meditaties en yoga oefeningen door uitleg over mindfulness bij ADHD.

  %h2 Wat houdt de medicatiebehandeling in?
  %p
    Indien uw kind wordt toegewezen aan de medicatiebehandeling, betekent dit dat u en uw kind een consult krijgen bij de kinder- en jeugdpsychiater.
    Deze psychiater zal uitleg geven over de werking van de medicatie en de lichamelijke en psychische gezondheid van uw kind beoordelen.
    Indien de psychiater een positief advies geeft, wordt het recept met de aangewezen dosis voor kortwerkend methylfenidaat uitgeschreven.
    Vaak wordt dit medicijn verkocht onder de naam Ritalin. Uw kind zal daarna 16 weken deze medicatie nemen onder begeleiding van de psychiater,
    ook zullen u en uw kind nog vier keer naar het behandelcentrum moeten komen voor controle.

  %h2 Wat wordt er van u verwacht?
  %p
    Om de effecten van de medicatie en MYmind op korte en langere termijn te bepalen,
    vragen wij de deelnemers om op vier verschillende momenten online een aantal vragenlijsten in te vullen.
    De vragenlijsten gaan onder andere over aandacht, hyperactiviteit, impulsiviteit, gezinsfunctioneren, slapen en emoties.
    Er is een voormeting, een nameting en twee follow-up metingen.
    Bij de kinderen en jongeren worden er bij de eerste twee meetmomenten,
    naast de vragenlijsten, ook een aantal aandachtstaakjes afgenomen door de onderzoeker.
    Voor deze aandachtstaakjes wordt u gevraagd naar het behandelcentrum te komen.
    Tot slot zal de onderzoeker enkelere keren telefonisch contact met u opnemen voor een kort interview.
    Na de eerste follow-up meting bent u vrij om van behandeling te wisselen.
    Bij de voormeting en de nameting vragen wij de mentor of leerkracht van uw kind ook om twee vragenlijsten in te vullen.
    Voor een overzicht van de meetmomenten en de behandeling kunt u kijken in onderstaand plaatje.

  = image_tag 'onderzoeksdesign.png', alt: 'Onderzoeksdesign', class: 'comp-research-design'

  .boy-700
    %p
      Deze studie is goedgekeurd door de Medisch Etische Toetsingscommissie van het AMC (METC 2013-383) en staat geregistreerd onder het NTR nummer: NTR4206.

  .boy-700
    %h2 Uitkomsten van het onderzoek
    %p
      Met de individuele resultaten van deze vragenlijstmetingen kunnen wij u feedback geven over de effecten van de medicatie of MYmind voor u en uw kind persoonlijk.
      U ontvangt hierover een persoonlijke terugkoppeling tijdens de terugkombijeenkomst. Ook draagt u bij aan de verbetering van de behandelingen voor toekomstige deelnemers.
      U wordt bovendien uitgebreid geïnformeerd over de wetenschappelijke resultaten van het onderzoek.

    %h2 Vragen of deelnemen?
    %p
      Mocht u vragen hebben over het onderzoek of wilt u met uw kind deelnemen?
      Dan kunt u bellen of mailen met één van de onderzoekers die onderaan de pagina staan.
      Voor meer informatie over het onderzoek kunt u ook de
      = link_to 'informatiefolder bekijken.', 'wervingsfolder.pdf'
