.layout-wrap.mod-content
  %h2 Het wetenschappelijk onderzoek
  %p
    Uit vele nationale en internationale onderzoeken is bekend dat medicatie (methylfenidaat) zeer effectief is in de bestrijding van symptomen van ADHD.
    Medicatie is dan ook de meest voorgeschreven behandelvorm bij ADHD. De laatste jaren is een andere behandelvorm sterk in opkomst, mindfulness training.
    Uit eerder onderzoek blijkt dat mindfulness training een effectieve methode is voor depressie en angst.
    Bij kinderen en jongeren met ADHD is mindfulness training nog een innovatieve behandeling en moet de effectiviteit verder worden onderzocht.
    Eerste resultaten van het door ons ontwikkelde programma MYmind,
    een op mindfulness gebaseerde aandachtstraining voor kinderen met ADHD in combinatie met parallelle mindful parenting training van hun ouders, zijn echter zeer hoopgevend.
    Het doel van dit onderzoek is om de effectiviteit van medicatie te vergelijken met die van MYmind in de behandeling van kinderen met ADHD.
    Om de effectiviteit van beide behandelingen goed met elkaar te kunnen vergelijken wordt uw kind geloot voor één van beide behandelingen.
    Wanneer u en uw kind besluiten deel te nemen aan dit onderzoek, weet u dus nog niet welke behandeling uw kind zal krijgen, dit krijgt u vanzelf van de onderzoeker te horen.
    Zestien weken na de start van de toegewezen behandeling mogen u en uw kind, indien gewenst, alsnog voor de andere behandeling kiezen.

  .boy-700
    %h2 Wat houdt MYmind in?
    %p
      Indien uw kind wordt toegewezen aan MYmind volgt u parallel aan de training van uw kind zelf een mindfulness training, gericht op mindful opvoeden.
      U komt samen met uw kind acht keer naar het behandelcentrum, waar u en uw kind apart van elkaar in sessies van anderhalf uur oefenen met mediteren.
      Er is dus een kindergroep en een oudergroep, en een paar keer komen de kinder- en oudergroep samen.
      De trainer geeft tussen de meditaties en yoga oefeningen door uitleg over mindfulness bij ADHD.

  .boy-700
    %h2 Wat houdt de medicatiebehandeling in?
    %p
      Indien uw kind wordt toegewezen aan de medicatiebehandeling, betekent dit dat u en uw kind een consult krijgen bij de kinder- en jeugdpsychiater.
      Deze psychiater zal uitleg geven over de werking van de medicatie en de lichamelijke en psychische gezondheid van uw kind beoordelen.
      Indien de psychiater een positief advies geeft, wordt het recept met de aangewezen dosis voor kortwerkend methylfenidaat uitgeschreven.
      Vaak wordt dit medicijn verkocht onder de naam Ritalin. Uw kind zal daarna 16 weken deze medicatie nemen onder begeleiding van de psychiater,
      ook zullen u en uw kind nog vier keer naar het behandelcentrum moeten komen voor controle.

  .boy-700
    %h2 Heeft u vragen?
    %p
      Deelname aan dit onderzoek is helaas niet meer mogelijk.
      Heeft u vragen over het onderzoek dan kunt u contact opnemen met
      = link_to 'Renée Meppelink', '/contact.html'
      \.
      Mocht u interesse hebben in mindfulness training,
      dan kunt u contact opnemen met
      = link_to 'UvA minds', 'http://www.uvaminds.nl'
      of
      = link_to 'Max Ernst', 'https://www.max-ernst.nl/'
      \.
