.layout-wrap.mod-content
  .boy-700
    %p
      Mocht u als huisarts of behandelaar een cliënt willen doorverwijzen voor deelname aan dit project dan waarderen wij dat zeer.
      U kunt een cliënt doorverwijzen indien het kind tussen de 9 en de 18 jaar oud is, het kind een primaire DSM classificatie voor ADHD heeft en het kind het afgelopen jaar geen methylfenidaat heeft gebruikt.

  .boy-700
    %p
      Om door te verwijzen kunt u bellen of mailen met één van de onderzoekers die onderaan de pagina staan.
      Ook kunt u (via dezelfde contactgegevens) de folder van het onderzoek gratis en vrijblijvend bij ons aanvragen om aan uw cliënten mee te geven.
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
