.layout-wrap.mod-content
  .boy-700
    %h2 Doorverwijzen?
    %p
      Doorverwijzen naar het onderzoek is helaas niet meer mogelijk.
      Heeft uw cliënt interesse in mindfulness training,
      dan kunt u doorverwijzen naar
      = link_to 'UvA minds', 'http://www.uvaminds.nl'
      of
      = link_to 'Max Ernst', 'https://www.max-ernst.nl/'
      \.
