.layout-wrap.mod-content
  .boy-900
    %p
      Mocht u als huisarts of behandelaar iemand willen doorverwijzen voor deelname aan dit project dan waarderen wij dat zeer.
      U kunt dan bellen of mailen met één van de onderzoekers die onderaan de pagina staan.
      Ook kunt u (via dezelfde contactgegevens) de folder van het onderzoek gratis en vrijblijvend bij ons aanvragen om aan uw cliënten mee te geven.

  .boy-700
    %h2 Inclusiecriteria
    %ul
      %li Het kind is tussen de 9 en 18 jaar oud
      %li Het kind heeft een primaire DSM-V classificatie voor ADHD
      %li Het (geschatte) IQ van het kind is 80 of hoger
      %li Tenminste één ouder moet bereid zijn de Mindful Parenting training te volgen

    %h2 Exclusiecriteria
    %ul
      %li Inadequate beheersing van de Nederlandse taal van de deelnemende ouder(s) of het kind
      %li Het kind lijdt aan een psychose, schizofrenie of onbehandelde PTSS
      %li Het kind lijdt aan een comorbide gedragsstoornisstoornis waardoor het niet mogelijk is voor het kind om aan een groepstraining deel te nemen
      %li Het kind heeft in het afgelopen jaar methylfenidaat (Ritalin) gebruikt
      %li Het kind heeft in het afgelopen jaar deelgenomen aan een mindfulness training
      %li Het kind neemt gedurende het onderzoek deel aan een andere psychosociale interventie
