.mod-main_title
  h1
    margin: 0 auto 7rem
    color: $red
    font-size: 3.8em
    font-weight: bold
    text-align: center
    text-shadow: 3px 3px 0 #000

  +min-width(700px)
    h1
      max-width: 500px
      font-size: 4.6em
