.mod-footer
  position: relative
  padding: 5rem 0 2rem
  font-size: 0.8em

  .organizations
    position: relative
    margin-bottom: 0
    padding-right: 300px // for the boy

    li
      @extend %clearfix
      margin-bottom: 3rem

    a
      display: block

    img
      display: block
      width: 100%
      max-width: 540px

      &.jongen
        max-width: 300px
        position: absolute
        right: -87px
        bottom: 0

  .info
    a
      font-size: 0.8em

      &:before
        content: '['
        color: black
      &:after
        content: ']'
        color: black

  +min-width(700px)
    // .organizations
    //   li
    //     width: 50%
    //     float: left

    p,
    dl
      width: 50%
      float: left

    dl
      text-align: right

    footer
      clear: both
      text-align: center
      padding: 1rem 0
