.mod-header
  @extend %clearfix
  position: relative
  z-index: 1
  margin-bottom: 7rem
  background: $red

  .layout-wrap
    position: relative

  h1,
  h2
    line-height: 1.3
    font-size: 2.5em
    padding-top: 3rem
    margin-bottom: 0

  a
    color: white
    color: rgba(white, 0.9)
    text-decoration: none

    &:focus,
    &:hover
      color: white

  ul
    padding: 0
    margin: 1.5rem 0 0 0

  li
    display: inline
    list-style: none outside none
    margin: 0

    a
      display: inline-block
      line-height: 1.5
      padding: 0 0.5rem

      &:focus,
      &:hover
        text-decoration: underline

      &.active
        text-decoration: underline

  +min-width(550px)
    li
      a
        margin-left: -0.5rem
        padding: 0.5rem

        &.active
          color: $red
          background: white
          text-decoration: none

  +min-width(650px)
    li
      padding: 0 2rem 0.5rem 0

  +min-width(700px)
    li
      a
        font-size: 0.8em
        line-height: 2
        margin-left: -0.5rem
        padding: 0.5rem

  +min-width(750px)
    li
      a
        margin-left: -1rem
        padding: 0.5rem 1rem 1rem 1rem

  +min-width(800px)
    li
      a
        font-size: 0.95em

  +min-width(850px)
    li
      a
        font-size: 1em
