.mod-footer
  position: relative
  padding: 5rem 0 2rem
  font-size: 0.8em

  .organizations
    position: relative
    margin-bottom: 1rem

    li
      position: relative
      display: inline
      margin-bottom: 3rem

    a
      display: inline-block
      padding: 0 2rem 0 0

    img
      display: inline
      max-height: 50px
      width: auto

      &.jongen
        max-height: none
        height: 300px
        width: auto
        position: absolute
        right: 0
        bottom: -300px

  .info
    padding-right: 13rem

    a
      font-size: 0.8em

      &:before
        content: '['
        color: black
      &:after
        content: ']'
        color: black

  +min-width(700px)
    .organizations
      padding-right: 300px // for the boy

      img
        &.jongen
          max-width: 300px
          height: auto
          right: -30px
          bottom: -14px

    .info
      padding-right: 0

    p,
    dl
      width: 50%
      float: left

    dl
      text-align: right

    footer
      clear: both
      text-align: center
      padding: 1rem 0

  +min-width(1100px)
    .organizations
      img
        &.jongen
          right: -87px
